.dateContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 5px;
  color: #fff;
  @media (max-width: 767px) {
    padding-bottom: 0;
  }
}

.dayOfWeek {
  margin: unset;
  margin-bottom: 5px;
  font-size: 12px;
  text-transform: uppercase;
}

.date {
  margin: unset;
  font-size: 32px;
}
