@import '../../styles/colors';

.resend-activation-email {
  min-height: calc(100vh - 76px);
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.resend-activation-email__logo {
  width: 182px;
  height: auto;
  margin: 20px 0;
}

.resend-activation-email__form {
  width: 100%;
  padding: 0 20px;
  max-width: 504px;
}

.resend-activation-email__inputs {
  position: relative;
  overflow: hidden;
}

.resend-activation-email__error {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #f5515f;
}

.resend-activation-email__btn {
  width: 100%;
  height: 60px;
  font-size: 24px;
  margin-bottom: 30px;
}
