$primary: rgb(64, 163, 191);
$primaryOpacified: rgba(64, 163, 191, .31);
$secondary: rgb(80, 227, 194);
$third: rgb(127, 137, 158);
$thirdDark: rgb(42, 55, 61);
$thirdOpacified: rgba(127, 137, 158, .27);
$danger: #F5515F;
$gray: rgb(189, 189, 189);
$gray1: rgba(255, 255, 255, .51);
$gray2: rgb(51, 49, 50);
$gray3: rgb(82, 82, 82);
$gray4: rgb(123, 138, 142);
