.backgroundCover {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-size:cover;
  filter: blur(10px);
  margin: -10px -20px -10px -20px;
  z-index: -1;
  transform: scale(1.1);
}

body {
  min-width: 320px;
}

button {
  border: 0;
  margin: 0;
  padding: 0;
  outline: 0;
  box-shadow: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
