.checkbox-question {
  margin-bottom: 5px;

  .panel-body {
    padding: 10px 22px;
  }

  .question-title {
    font-size: 16px;
  }

  .variant {
    display: flex;
    margin-top: 10px;
    line-height: 30px;

    i {
      margin-right: 15px;
      font-size: 30px;
      color: #0b648c;
      cursor: pointer;
    }
  }
}
