.questions-container {
  width: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  background-color: #E5E5E5;
  padding: 0 25px;

  @media (max-width: 800px) {
    display: block;
    height: calc(100vh - 76px);
    padding: 0 10px;
    overflow: auto;
  }

  &.answered-yes {
    justify-content: flex-start;
  }

  .questions-controls {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-top: 5px;

    .hidden-btn {
      visibility: hidden;
    }

    button {
      margin: 0px;
    }
  }
}
