@import "../../../styles/colors";

.radio-question {
  .panel-body {
    padding: 10px 22px;
    @media (max-width: 480px) {
      padding: 10px;
    }
  }
  .question-title {
    width: 100%;
    font-size: 16px;
    line-height: 20px;
    color: $gray3;
  }
  .variant {
    display: flex;
    margin-top: 12px;
    font-size: 14px;
    color: $gray3;

    span {
      line-height: 30px;
      cursor: pointer;
    }
    i {
      margin-right: 15px;
      font-size: 30px;
      color: $primary;
      cursor: pointer;
    }
  }
}
