@import "../../styles/colors";

.average-score-card {
  background-color: transparent;
  width: calc(33% - 10px);
  color: #fff;
  margin-bottom: 20px;
  min-height: 260px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px 24px;
  position: relative;

  @media (max-width: 767px) {
    width: calc(50% - 12px);
  }

  @media (max-width: 480px) {
    width: 100%;
  }

  .title {
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    margin: 0 0 7px;
    width: 100%;
  }

  .goButton {
    background-color: $primary;
    border-radius: 4px;
    width: 100%;
    padding: 6px 12px;
    font-size: 20px;
  }

  .chart {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 24px;
    flex: 1;

    img {
      width: 120px;
      height: 120px;
    }

    .chartPercent {
      position: absolute;
      font-size: 50px;
      font-weight: 100;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center ;
    }
  }
}
