@import '../../styles/colors';

.categoriesContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.mainCategoriesContainer {
  display: block;
}

.dashboard {
  padding: 0 25px;
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin: auto;
  overflow: auto;
  .log_out_btn {
    width: 10%;
    position: absolute;
    right: 10px;
    top: 100px;
  }
}

.dashboardLocation {
  @media (max-width: 767px) {
    width: 100%;
    text-align: center;
    .horizontal {
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  }
}

.dashboardContacts,
.dashboardStaffMembers {
  @media (max-width: 767px) {
    width: 50%;
  }
  @media (max-width: 480px) {
    width: 100%;
  }
}

.areas {
  margin: 15px 0;
  color: #fff;
  font-size: 26px;
  font-weight: 400;
  font-style: italic;
  @media (max-width: 767px) {
    text-align: center;
  }
}
.submittedReport {
  margin: 15px 0;
  color: #fff;
  @media (max-width: 767px) {
    text-align: center;
  }
}

.profileTitle {
  color: #fff;
  font-size: 26px;
  margin: 8px 0;
  @media (max-width: 767px) {
    text-align: center;
  }
}

.profileDetailsContainer {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  color: white;
  @media (max-width: 767px) {
    flex-wrap: wrap;
    text-align: center;
    margin-bottom: 0;
  }
}

.vdivider {
  border-right: 2px dotted $gray4;
  margin-right: 20px;
  @media (max-width: 767px) {
    display: none;
  }
}

.divider {
  border-bottom: 2px dotted $gray4;
}
