@import "../../../styles/colors";

.yes-no-question {
  margin-bottom: 5px;
  .panel-body {
    display: flex;
    padding: 10px 22px;
    @media (max-width: 480px) {
      padding: 10px;
    }
  }
  .title {
    width: 100%;
    max-width: 285px;
    font-size: 16px;
    line-height: 20px;
    color: $gray3;
    @media (max-width: 480px) {
      font-size: 13px;
    }
  }
  .actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 15%;
    margin-left: auto;
    @media (max-width: 480px) {
      flex-direction: column;
    }
    .answer-action {
      font-size: 30px;
      cursor: pointer;
      color: $primaryOpacified;
    }
    i {
      @media (max-width: 480px) {
        margin: 10px 0;
      }
      &.active {
        color: $primary;
        cursor: default;
        &:hover {
          color: rgb(64, 163, 191);
        }
      }
      &:hover {
        color: rgba(64, 163, 191, 0.5);
      }
    }
  }
  .vdivider {
    border-right: 1px dotted $gray4;
    margin-right: 0;
    height: 22px;
    @media (max-width: 767px) {
      display: block;
    }
    @media (max-width: 480px) {
      display: none;
    }
  }
}
