@import "../../styles/colors";

.header-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  font-size: 12px;
  font-weight: 300;
  color: #fff;

  @media (max-width: 767px) {
    margin-bottom: 20px;
  }

  .title {
    color: $primary;
    font-size: 14px;
    margin-bottom: 12px;
  }

  .horizontal {
    display: flex;
  }

  .infoTitle {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
  }

  .infoDescription {
    color: $gray;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 6px;
  }

  .editButton {
    color: $secondary;
    font-size: 16px;
    margin-top: auto;
    cursor: pointer;
  }

  .infoImg {
    position: relative;
    flex: 1 0 69px;
    width: 69px;
    height: 69px;
    max-width: 69px;
    border-radius: 50%;
    margin-right: 5px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    @media (max-width: 767px) {
      margin-right: 0;
    }
  }
}
