.after-register-text {
  text-align: center;
  color: white;
  padding: 0 20px;
}

.StripeCheckout {
  text-align: center;
  margin: 0 auto;
  display: block !important;
  margin-top: 2% !important;
}

.sendPay {
  background-size: cover;
  //filter: blur(10px);
  position: fixed;
  left: 0;
  right: 0;
  display: block;
  height: 100%;
  width: 100%;
}

.shadow-payment{
  padding-top:20px;
}
.shadow-payment img {
  // display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -32px;
  margin-top: -32px;
}

.shadow-payment h3{
  text-align: center;
  color:white;
  margin:0 auto;
  margin-top:35px !important;
  width:35% !important;
  line-height: 1.5;
}

.shadow-payment h4{
  margin:0 auto;
  text-align: center;
  color:white;
  margin-top:35px !important;
  width:35% !important;
  line-height: 1.5;
}

.error_pay_message{
  display: none;
  font-size: 14px;
  text-align: center;
  margin-top: 30px !important;
  width: 300px;
  margin: 0 auto;
  background-color: #f2dede;
  border-color: #ebcccc;
  color: #a94442;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid #a94442;
  border-radius: .25rem;
}


@media(max-width:980px){
  .shadow-payment h3, .shadow-payment h4{
   width:90% !important;
  }
}
