@import "../../styles/colors";

.side-nav {
  background-color: $thirdDark;
  // flex: 0 1 200px;
  max-width: 26%;
  min-height: calc(100vh - 76px);
  overflow: auto;
  color: #fff;

  @media (max-width: 800px) {
    max-width: 35%;
    height: calc(100vh - 76px);
    overflow: auto;
  }

  .category-item {
    cursor: pointer;
    padding: 10px 20px;
    color: $third;
    // text-overflow: ellipsis;
    // white-space: nowrap;
    // overflow: hidden;
    font-weight: 400;
    border-bottom: 1px solid;

    &.active {
      background-color: $thirdOpacified;
      color: #fff;
      font-weight: 500;
    }

    .item-controls {
      display: none;
    }

    i {
      margin-left: 5px;
    }

    &:hover {
      .item-controls {
        display: block;
      }
    }
  }
}
