@import "../../styles/colors";

.login {
  min-height: calc(100vh - 76px);
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login__logo {
  width: 182px;
  height: auto;
  margin: 20px 0;
}

.login__form {
  width: 100%;
  padding: 0 20px;
  max-width: 504px;
}

.login__inputs {
  position: relative;
  overflow: hidden;
}

.login__error {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #F5515F;
}

.login__btn {
  width: 100%;
  height: 60px;
  font-size: 24px;
  margin-bottom: 30px;
}

.login__actions a {
  display: block;
  font-size: 24px;
  color: $gray;
  text-align: center;
  cursor: pointer;
}
