@import "../../styles/colors";

.category-card {
  background-color: $primaryOpacified;
  width: calc(33% - 10px);
  color: #fff;
  margin-bottom: 20px;
  min-height: 260px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px 24px;
  position: relative;

  @media (max-width: 767px) {
    width: calc(50% - 12px);
  }

  @media (max-width: 480px) {
    width: 100%;
  }

  .title {
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    margin: 0 0 7px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .description {
    text-align: center;
    font-size: 16px;
    color: $gray1;
    line-height: 20px;
    max-height: 60px;
    overflow: hidden;
    margin-bottom: 20px;
    flex: 1;
    width: 100%;
  }

  .info {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    font-size: 18px;
  }

  .goButton {
    background-color: $primary;
    border-radius: 4px;
    width: 100%;
    padding: 6px 12px;
    font-size: 20px;
  }

  .detailsContainer {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
  }

  .questionsTitle {
    font-size: 14px;
    font-weight: 400;
  }

  .questions {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .questionsText {
    display: flex;
    align-items: flex-end;
  }

  .questionsDone {
    font-size: 44px;
    color: #fff;
    line-height: 1;
  }

  .questionsTotal {
    font-size: 22px;
    color: $primary;
  }

  .chart {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .chartPercent {
    position: absolute;
    color: white;
    font-size: 22px;
    font-weight: 100;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center ;
  }

  .chartContainer {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  img {
    width: 60px;
    height: 60px;
  }
}
