@import "../../styles/colors";

.reset-pass {
  min-height: calc(100vh - 76px);
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reset-pass__logo {
  width: 182px;
  height: auto;
  margin: 20px 0;
}

.reset-pass__actions {
  text-align: center;
  a {
    display: block;
    color: white;
    cursor: pointer;
    margin-bottom: 10px;
  }
}

.reset-pass__form {
  width: 100%;
  padding: 0 20px;
  max-width: 504px;
  .input-wrapper .input-error {
    top: 45px;
    color: $danger;
  }
  .input-wrapper input {
    margin-bottom: 25px;
  }
}

.reset-pass__btn {
  width: 100%;
  height: 60px;
  font-size: 24px;
  margin-bottom: 30px;
}

.reset-pass__actions a {
  display: block;
  font-size: 24px;
  color: $gray;
  text-align: center;
}
