@import "../../styles/colors";

.top-navbar {
  height: 76px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  width: 100%;
  position: relative;

  .brand-logo {
    color: #fff;
    font-size: 24px;
    cursor: pointer;
  }

  .header {
    // padding: 20px;
    display: flex;
    align-items: center;

    h1 {
      margin: unset;
    }
  }

  .progressBarContainer {
    background-color: $primaryOpacified;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .progressBar {
    background-color: $primary;
    width: 30%;
    height: 10px;
  }

  .go-back-button {
    position: absolute;
    left: 20px;
    font-size: 25px;
    cursor: pointer;
    top: 50%;
    transform: translate(0, -50%);
  }

  .go-back-button-text {
    @media (max-width: 767px) {
      display: none;
    }
  }

  .log-out-btn {
    position: absolute;
    right: 20px;
    font-size: 25px;
    cursor: pointer;
    top: 50%;
    transform: translate(0, -50%);
  }
}
