.load-attachment {
  float: right;
  position: relative;
  display: flex;
  font-size: 13px;

  &:hover {
    .delete {
      display: block;
    }
    color: rgba(199, 81, 71, 1);
  }

  .attachments-count {
    position: absolute;
    left: 15px;
    top: -6px;
    padding: 0 3px;
    color: white;
    font-weight: bold;
    background-color: #78c8ec;
    @media (max-width: 480px) {
      top: 1px;
    }
  }

  .disabled {
    cursor: not-allowed;
  }

  .disabled-icon {
    display: inline-block;
    position: relative;
    .disable-icon {
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%);
      top: 50%;
      color: rgba(199, 81, 71, 1) !important;
      font-size: 2.5em;
    }
  }

  .delete {
    i {
      color: rgba(199, 81, 71, 0.5);
      font-size: 20px;

      &:hover {
        color: rgba(199, 81, 71, 1) !important;
      }

      cursor: pointer;
    }
    display: none;
    position: absolute;
    top: 12px;
    right: -7px;
  }

  .enabled {
    cursor: pointer;
  }

  i {
    font-size: 25px;
    color: rgba(64, 163, 191, 0.31);
    z-index: 1;

    &:hover {
      color: rgba(64, 163, 191, 0.5);
    }
  }
}
