@import "../../styles/colors";

.input-wrapper {
  position: relative;
  color: #fff;
  input {
    color: white;
    outline: 0 !important;
    box-shadow: none !important;
    font-size: 24px;
    margin-bottom: 50px;
    height: 44px;
    line-height: 44px;
  }
  input::-webkit-input-placeholder {
    color: #fff;
    font-size: 24px;
  }
  input::-moz-placeholder {
    color: #fff;
    font-size: 24px;
  }
  input:-ms-input-placeholder {
    color: #fff;
    font-size: 24px;
  }
  input:-moz-placeholder {
    color: #fff;
    font-size: 24px;
  }
  .input-error {
    left: 0;
    top: 35px;
    color: $danger;
    position: absolute;
  }
}
