@import "../../styles/colors";

.main-question {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .title {
    color: $gray2;
    font-size: 50px;
    text-align: center;
    margin-bottom: 38px;
    @media (max-width: 800px) {
      font-size: 25px;
    }
    @media (max-width: 480px) {
      font-size: 16px;
    }
  }

  .btn {
    width: 100px;
    height: 60px;
    padding: 0 5px;
    margin: 0 10px 10px;
    background-color: $primary !important;
    font-size: 20px;
  }

  .reset-btn {
    display: none;
  }

  @media (max-width: 800px) {
    min-height: 100%;
  }

  &.answered-yes {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 15px 0;

    .title {
      flex: 1;
      margin-right: 30px;
      margin-bottom: 0;
      font-size: 24px;
      text-align: left;
      @media (max-width: 480px) {
        margin-right: 15px;
        font-size: 16px;
      }
    }

    .btn {
      display: none;
    }

    .reset-btn {
      display: block;
      font-size: 16px;
      margin: 5px 4px 0;
      height: 30px;
    }

    @media (max-width: 800px) {
      min-height: 0;
    }
  }

  &:not(.answered-yes) {
    .active {

    }
    .inactive {
      background-color: #40a3bf !important;
    }
    .yes-answer.active {
      background-color: #40a3bf !important;
      + .no-answer.inactive {
        background-color: rgba(3, 169, 244, 0.2) !important;
      }
    }
  }
}

.main-question-controls {
  @media (max-width: 480px) {
    flex: 0;
    text-align: center;
  }
}
